<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <ul class="list-group">
        <% category.errors.each do |error| %>
          <li class="list-group-item list-group-item-danger"><strong>*</strong> <%= error.full_message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="m-3">
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name, class:"form-control"  %>
  </div>

  <div class="m-3">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>